/* font-family: "MyriadProRegular"; */
@font-face {
    font-family: "MyriadProRegular";
    src: url("./fonts/MyriadProRegular/MyriadProRegular.eot");
    src: url("./fonts/MyriadProRegular/MyriadProRegular.eot?#iefix")format("embedded-opentype"),
    url("./fonts/MyriadProRegular/MyriadProRegular.woff") format("woff"),
    url("./fonts/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "MyriadProBold"; */
@font-face {
    font-family: "MyriadProBold";
    src: url("./fonts/MyriadProBold/MyriadProBold.eot");
    src: url("./fonts/MyriadProBold/MyriadProBold.eot?#iefix")format("embedded-opentype"),
    url("./fonts/MyriadProBold/MyriadProBold.woff") format("woff"),
    url("./fonts/MyriadProBold/MyriadProBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "MyriadProItalic"; */
@font-face {
    font-family: "MyriadProItalic";
    src: url("./fonts/MyriadProItalic/MyriadProItalic.eot");
    src: url("./fonts/MyriadProItalic/MyriadProItalic.eot?#iefix")format("embedded-opentype"),
    url("./fonts/MyriadProItalic/MyriadProItalic.woff") format("woff"),
    url("./fonts/MyriadProItalic/MyriadProItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "MyriadProSemiBold"; */
@font-face {
    font-family: "MyriadProSemiBold";
    src: url("./fonts/MyriadProSemiBold/MyriadProSemiBold.eot");
    src: url("./fonts/MyriadProSemiBold/MyriadProSemiBold.eot?#iefix")format("embedded-opentype"),
    url("./fonts/MyriadProSemiBold/MyriadProSemiBold.woff") format("woff"),
    url("./fonts/MyriadProSemiBold/MyriadProSemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "MyriadProBoldItalic"; */
@font-face {
    font-family: "MyriadProBoldItalic";
    src: url("./fonts/MyriadProBoldItalic/MyriadProBoldItalic.eot");
    src: url("./fonts/MyriadProBoldItalic/MyriadProBoldItalic.eot?#iefix")format("embedded-opentype"),
    url("./fonts/MyriadProBoldItalic/MyriadProBoldItalic.woff") format("woff"),
    url("./fonts/MyriadProBoldItalic/MyriadProBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "MyriadProSemiBoldItalic"; */
@font-face {
    font-family: "MyriadProSemiBoldItalic";
    src: url("./fonts/MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.eot");
    src: url("./fonts/MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.eot?#iefix")format("embedded-opentype"),
    url("./fonts/MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.woff") format("woff"),
    url("./fonts/MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "MyriadProCondensed"; */
@font-face {
    font-family: "MyriadProCondensed";
    src: url("./fonts/MyriadProCondensed/Myriad-Web-Pro-Condensed.eot");
    src: url("./fonts/MyriadProCondensed/Myriad-Web-Pro-Condensed.eot?#iefix")format("embedded-opentype"),
    url("./fonts/MyriadProCondensed/Myriad-Web-Pro-Condensed.woff") format("woff"),
    url("./fonts/MyriadProCondensed/Myriad-Web-Pro-Condensed.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* Design */
input, textarea {outline: none} 
a {color: #000000; text-decoration: underline}
a:hover {color: #000000; text-decoration: none}

#simple-menu {display: none}

/* Messages */
.result_success {font: normal 14px 'MyriadProRegular'; color: #000; margin: 20px 0px 20px 0px; text-align: center}
.result_error {font: normal 14px 'MyriadProRegular'; color: #f00; margin: 20px 0px 20px 0px; text-align: center}

/* Pages */
.pages_title {font: normal 14px 'MyriadProRegular'; color: #000}
.pages_current {font: normal 14px 'MyriadProRegular'; color: #FFF; background-color: #000; padding-left: 4px; padding-right: 4px; margin-left: 2px; margin-right: 2px}
a.pages_link {font: normal 14px 'MyriadProRegular'; text-decoration: none; color: #000; padding-left: 4px; padding-right: 4px; margin-left: 2px; margin-right: 2px}
a.pages_link:hover {font: normal 14px 'MyriadProRegular'; text-decoration: underline; color: #fff; background-color: #000; padding-left: 4px; padding-right: 4px; margin-left: 2px; margin-right: 2px}
a.pages_arrows {font: normal 14px 'MyriadProRegular'; text-decoration: none; color: #000; padding-left: 2px; padding-right: 2px}
a.pages_arrows:hover {font: normal 12px Tahoma; text-decoration: underline; color: #252525; padding-left: 2px; padding-right: 2px}