body,textarea {
	margin: 0px;
	padding: 0px;
	font-family: Tahoma, Verdana;
	font-size: 12px;
	color: #000000;
	scrollbar-face-color: #DEE3E7;
	scrollbar-highlight-color: #FFFFFF;
	scrollbar-shadow-color: #DEE3E7;
	scrollbar-3dlight-color: #D1D7DC;
	scrollbar-arrow-color:  #006699;
	scrollbar-track-color: #EFEFEF;
	scrollbar-darkshadow-color: #98AAB1;
}

td {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	cursor: default;
}

.sd_pageTitle {
	text-align: center;
	font-size: 12px;
	font-weight: bold;
	color: #000033;
	margin: 10px;
}

.sd_formLabel {
	width: 120px;
	font-size: 11px;
	text-align: right;
	font-weight: bold;
	vertical-align: top;
	border-top: solid 1px #808080; 
	border-left: solid 1px #808080;
	background-color: #EFEFEF;
}

.sd_formLabel2 {
	width: 120px;
	font-size: 11px;
	text-align: right;
	font-weight: bold;
	vertical-align: top;
	border-top: solid 1px #808080; 
	border-left: solid 1px #808080;
	background-color: #EFEFEF;
	padding: 13px 10px 0px 0px;
}

.sd_formLabel3 {
	font-size: 11px;
	text-align: left;
	font-weight: bold;
	border-top: solid 1px #808080; 
	border-left: solid 1px #808080;
	border-right: solid 2px #666666;
	background-color: #EFEFEF;
}

.sd_formLabel4 {
	width: 120px;
	font-size: 11px;
	text-align: right;
	font-weight: bold;
	vertical-align: top;
	border-top: solid 1px #808080; 
	border-left: solid 1px #808080;
	background-color: #EFEFEF;
	padding: 10px 5px 10px 5px;
}

.sd_formLabel5 {
	width: 120px;
	font-size: 11px;
	text-align: right;
	font-weight: bold;
	vertical-align: top;
	border-top: solid 1px #808080; 
	border-left: solid 1px #808080;
	border-bottom: solid 1px #808080; 
	background-color: #EFEFEF;
	padding: 10px 5px 10px 5px;
}

.sd_formInput {
	border-top: solid 1px #808080; 
	border-right: solid 1px #808080;	
	background-color: #EFEFEF;
	vertical-align: top;
	font-size: 11px;
}

.sd_formInput2 {
	border-top: solid 1px #808080; 
	border-right: solid 1px #808080;	
	background-color: #EFEFEF;
	vertical-align: top;
	font-size: 11px;
	padding: 5px;
}

.sd_formInput3 {
	border-top: solid 1px #808080; 
	border-bottom: solid 1px #808080; 
	border-right: solid 1px #808080;	
	background-color: #EFEFEF;
	vertical-align: top;
	font-size: 11px;
	padding: 5px;
}

.sd_textbox {
	font-size: 12px;
	background-color: #FFFFFF;
	border-width: 1px;
	width: 100%;
	border: solid 1px #808080;
	padding: 4px;
}

.sd_txtarea {
	font-size: 12px;
	background-color: #FFFFFF;
	border-width: 1px;
	width: 100%;
	border: solid 1px #808080;
	height: 120px;
	padding: 4px;
}

.sd_button {
	font-size: 14px;
	background-color: #C1D2EE;
	border: double 1px #316AC5;
	color: #316AC5;
	font-weight: bold;
	width: 100%;
	height: 24px;
	margin-top: 3px;
	margin-bottom: 3px;
	cursor: hand;
}

.sd_formButton {
	border: solid 1px #808080; 
	border-top: none;
	background-color: #EFEFEF;
	vertical-align: top;
}

#warning {
	border: 1px solid #FEB82F;
	padding: 2px 2px 2px 2px;
	background-color: #FFF9DF;
	color: #FF0000;
	text-align: center;
}

.sd_outset {
	border-top: 1px solid #FFFFFF;
	border-left: 1px solid #FFFFFF;
	border-right: 1px solid #808080;
	border-bottom: 1px solid #808080;
	background-color: #EFEFEF;
	padding: 5px;
	cursor: default;
	font-size: 11px; 
}

a.ln1 {color: #000; text-decoration: none}
a.ln1:hover {color: #000; text-decoration: underline}

.im1 {vertical-align: middle; margin: 0px 5px 0px 0px}
.im2 {vertical-align: middle; margin: 0px 5px 3px 0px}

.tx1 {margin: 5px; font: normal 12px Arial}

.dv1 {border: 1px solid #808080; width: 600px; height: 500px; margin: auto; overflow: auto}
.dv2 {border-bottom: 1px solid #808080; padding: 5px; clear: both; height: 14px}
.dv3 {float: left}
.dv4 {float: right}

/* Pages */
.pages_title { font: normal 12px Arial; color: #316ac5; font-weight: bold; }
.pages_current { ffont: normal 12px Arial; color: #316ac5; background-color: #c1d2ee; padding-left: 4px; padding-right: 4px; margin-left: 1px; margin-right: 1px; font-weight: bold; }
a.pages_link { font: normal 12px Arial; text-decoration: none; color: #316ac5; padding-left: 4px; padding-right: 4px; margin-left: 1px; margin-right: 1px; }
a.pages_link:hover { font: normal 12px Arial; text-decoration: underline; color: #316ac5; background-color: #c1d2ee; padding-left: 4px; padding-right: 4px; margin-left: 1px; margin-right: 1px; }
a.pages_arrows { font: normal 12px Arial; text-decoration: none; color: #316ac5; padding-left: 2px; padding-right: 2px; font-weight: bold; }
a.pages_arrows:hover { font: normal 12px Arial; text-decoration: underline; color: #316ac5; padding-left: 2px; padding-right: 2px; font-weight: bold; }
